* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(/ㅈ같이\ 생긴\ 보노보노.webp);
    background-size: 100%;
    width: 100%;
    height: 100%;
}

body::-webkit-scrollbar {
    display: none;
}

html {
    width: 100%;
    height: 100%;
}

a {
    color: white;
    font-size: 20px;
    font-weight: 900;
    text-decoration: none;
}

p {
    font-size: 20px;
    font-weight: 900;
    color: white;
}

#container {
    text-align: center;
    margin-top: 200px;
}

form>input {
    width: 500px;
    height: 50px;
    margin-top: 10px;
    font-size: 20px;
    border-radius: 10px;
}

button {
    width: 100px;
    height: 40px;
    font-size: 20px;
    margin-top: 30px;
    border-radius: 10px;
}

#radioDiv {
    display: flex;
    align-items: center;
    justify-content: center;
}

#background {
    background-image: linear-gradient(180deg, red, orange, yellow, green, blue, navy, purple);
    margin-left: 400px;
    margin-right: 400px;
    border-radius: 20px;
    padding: 5px;
    border: solid black 3px;
}

#content {
    background-image: url(/ㅈ같이\ 생긴\ 무지개\ 배경.gif);
    background-size: 10%;
    background-position: 0px;
    color: white;
}

#container2 {
    text-align: center;
}

#container2>h1 {
    background-image: linear-gradient(180deg, red, orange, yellow, green, blue, navy, purple);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 70px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

#postBt {
    margin-top: 30px;
    margin-bottom: 30px;
    cursor: pointer;
}

textarea {
    resize: none;
    margin-top: 20px;
    font-size: 20px;
}

header {
    background-image: url(/ㅈ같이\ 생긴\ 무지개\ 헤더\ 배경.gif);
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    justify-content: space-around;
    height: 80px;
    line-height: 70px;
    border-bottom: solid black 2px;
    position: fixed;
    top: 0px;
    width: 100%;
}

span>a {
    background-image: linear-gradient(90deg, red, orange, yellow, green, blue, navy, purple);
    -webkit-background-clip: text;
    color: transparent;
    margin-left: 10px;
    font-size: 30px;
    font-weight: 900;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

li {
    list-style: none;
    padding: 5px 10px;
    float: left;
}

.logout{
    line-height: 61px;
}

ul{
    background-image: linear-gradient(90deg, red, orange, yellow, green, blue, navy, purple);
    -webkit-background-clip: text;
    color: transparent;
    margin-right: 10px;
    font-size: 22px;
    font-weight: 900;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    display: flex;
    width: auto;
}

li>a {
    background-image: linear-gradient(90deg, red, orange, yellow, green, blue, navy, purple);
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

#left {
    width: 900px;
    display: flex;
}

#right {
    margin-left: 700px;
    color: black;
}

#postsTitle{
    text-align: center;
    margin: 30px 0px 30px 0px;
}

.post{
    text-align: center;
}

.title{

}

.id{

}

.content{
    color: black;
}

